body{
    background-attachment: fixed;
    
}
table,th,td{
    border-collapse: collapse;
    font-size: 0.50cm;
}
th,td{
    padding: 10px;
}
a{
    font-size: 30px;
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited{
    color: rgb(255, 0, 98);
}
a:hover{
    color: rgb(238, 255, 0);
}
.T1{
    background-color: rgba(4, 184, 255, 0.295);
}
.T2{
    background-color: rgba(0, 0, 0, 0.432);
    color: cornsilk;
}
.T3{
    background-color: rgba(114, 114, 114, 0.445);
}
th{
    font-size: 0.55cm;
}
#Td2{
    font-size: 0.55cm;
}
#icon{
    background-color: rgba(255, 127, 80, 0.384);
    color: cornsilk;
}
.Ticon{
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 80px;
    height: 80px;
    line-height: 105px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: cornsilk;
    background-color: rgb(18, 168, 206);
    transition: 300ms;
}
.Ticon:after{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-shadow: 0 0 0 3px cornsilk;
    top: 0; 
    left: 0;
    opacity: 0;
    transition: 300ms;   
}
.Ticon:hover{
    background-color: rgba(255, 0, 0, 0.363);
}
.Ticon:hover::after{
    opacity: 1;
    transform: scale(1.15);
}